.import-tile {
    background-color: #d9edf7;
    padding: 10px;
    color: #555;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.import-tile__importblock {
    margin-top: 50px;
}

.providers-table {
    margin-bottom: 30px;
}

.providers-table_top {
    padding-top: 15px;  
    background-color: #fff;
}

.providers-table_top__fixed {
    position: fixed;
    top: 0;
    width: 1240px;
    left: 50%;
    margin-left: -617px;
    z-index: 1;
}

.providers-table_control {
        margin-bottom: 20px;
}

.providers-table_filters-name {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    border-radius: 3px;
    font-size: 12px;
    padding: 0px 10px;
    line-height: 30px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.providers-table_newBtn {
    padding: 0px 18px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    margin-left: 19px;
}


.providers-table_head {
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(to bottom, #fffdfd 0%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
    background-color: #f5f5f5;
    border:1px solid #ddd;
    padding: 0px 10px;
    line-height: 40px;
}

.providers-table_head-item {
    color: #555 !important;
    font-size: 13px !important;
    font-weight: bold !important;
    cursor: default;
}

.providers-table_body {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.providers-table_body__fixed {
    margin-top: 112px;
}

.providers-table_body  .dndPlaceholder {
    height: 28px;
    background-color:#eee;
    display: block;
}

.providers-table_row  .dndDragging {
    background-color: #ddd;
}

.dndDraggingSource {
    display: none !important;
}


.providers-table_row {
    padding: 0px 10px;
    padding-left: 2px;
    line-height: 28px;
}

.providers-table_row:hover{
    background-color:rgb(243, 243, 243);
}

.providers-table_row__even {
    background-color: rgb(252, 252, 252);
}

.providers-table_row__selected {
    background-color: rgb(230, 235, 236)!important;
}

.providers-table_nodrag {
    display: block;
}

.providers-table_drag-handle-wrap {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    margin-top: 3px;
    margin-right: 5px;
    width: 10px;
}

.providers-table_drag-handle {
    width: 100%;
    height: 100%;    
    background-color: #f0f0f0;
    cursor: move;
}

.providers-table_name {
    display: inline-block;
    vertical-align: top;
    width: 400px;
}

.providers-table_name:hover {
    
}

.providers-table_name-val:hover {
    cursor: pointer;
    text-decoration: underline;
}

.providers-table_showPriceEdit {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #A1A1A1;
    text-decoration: underline;
    cursor: pointer;
}

.providers-table_showImport {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #A1A1A1;
    text-decoration: underline;
    cursor: pointer;
}

.providers-table_price-date {
    display: inline-block;
    vertical-align: top;
    width: 140px;
}

.providers-table_default-coef {
    display: inline-block;
    vertical-align: top;
}

.providers-table_list-delete {
    display: inline-block;
    vertical-align: top;
    float: right;
}

.providers-table_list-delete-img {
    width: 15px;
    cursor: pointer;
    margin-top: 6px;
    opacity: 0.1;
    transition:opacity 0.2s;
}

.providers-table_row:hover .providers-table_list-delete-img {
    opacity: 0.4;
    
}

.providers-table_list-delete-img:hover {
    opacity: 1!important;   
}

/* окошко инфы о поставщике */
.provideredit {
    position: absolute;
    width: 980px;
    padding: 20px;
    background: #fff;
    top:10px;
    left: 50%;
    margin-left: -490px;
    border: 1px solid #e6e6e6;
    z-index: 11;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228, 228, 228, 0.6);
}

.provideredit-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250,0.9);
    z-index: 10;
}

.provideredit_close {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    width: 26px;
}

.provideredit_head {
    margin-bottom: 30px;
    margin-left: 30px;
}

.provideredit_title {
    display: inline-block;
    vertical-align: top;
    font-size: 19px;
    font-weight: bold;  
    text-transform: uppercase;
    margin-top: 25px;
}

.provideredit_coefs {
    display: inline-block;
    vertical-align: top;
    margin-left: 326px;
}

.provideredit_coef {
    /*display: inline-block;
    vertical-align: top;*/
    margin-bottom: 5px;
}

.provideredit_coef-label {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 300;
    color: #C0BCBC;
    margin-top: 3px;
    width: 145px;
}

.provideredit_coef-val {
    width: 54px;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    font-size: 12px;
    padding: 1px 10px;
    margin-top: 3px;
    text-align: right;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.provideredit_status-val:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.provideredit .control-label {
    line-height: 15px;
    font-size: 13px;
    padding-top: 0px;
}

.provideredit_btns {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.provideredit_saveBtn {
    margin-right: 10px;
}



.prices-table-wrap {

}

.prices-table_head {
    font-weight: bold;
    border-bottom: 3px solid #ccc;
}

.prices-table_td-name {

   padding-left: 22px !important;
}

.prices-table_td-date {
    width: 110px;
}

.prices-table_td-edit {
    width: 100px;
}

.prices-table_td-delete {
    width: 100px;
}

.prices-table_edit {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.prices-table_delete {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.prices-table_new {
    color: blue;
    cursor: pointer;
    padding-left: 3px;
}

.prices-table_new-img {
    width: 15px;
}



#ui-datepicker-div {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.importSettings {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 700px;
    margin-left: -350px;   
    border: 1px solid #e6e6e6;
    z-index: 11;
    background-color: #fcfafa;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228, 228, 228, 0.6);
}

.importSettings-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250,0.5);
    z-index: 10;
}

.importSettings_labels {
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0 10px;
}

.importSettings_price-coef-label {
    display: inline-block;
    width: 60px;
}

.importSettings_import-date-label {
    width: 130px;
    display: inline-block;
}

.importSettings_smirnyaginSheetCount-label {
    display: inline-block;
    width: 240px;
}


.importSettings_values {
    position: relative;
    margin-bottom: 8px;
    padding: 0 10px;
}

.importSettings_price-coef {
    display: inline-block;
    color: #444;
    width: 60px;
}

.importSettings_import-date {
    width: 130px;
    padding-right: 5px;
    display: inline-block;
    text-align: right;
}

.importSettings_smirnyaginSheetCount {
    display: inline-block;
    margin-left: 90px;
    width: 40px;
}

.importSettings_fileName {
    display: inline-block;
    width: 325px;
    text-align: right;
}

.importSettings_loadfile-btn {

}

.importSettings_loading {
    width: 20px;
}

.importSettings_help {
    font-size: 12px;
    margin-bottom: 8px;
    padding: 0 15px;
}

.importSettings_comment {
    padding: 0 15px;
    margin-bottom: 10px;
}

.importSettings_comment-text {
    resize: none;
    width: 668px;
    height: 70px;
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    outline: none;
}


.importSettings_btns {
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
    line-height: 50px;
}

.importSettings_startBtn {
    margin-left: 20px;
    margin-right: 10px;
}

.importSettings_cancelBtn {

}

.importSettings_process {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 48px;
    padding-left: 250px;
    color: #444;
    font-weight: bold;
    font-size: 22px;
}

.importSettings_process-gif {
    width: 40px;
    margin-left: 20px;
}

.importSettings_finish {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 25px;
    color: #444;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}


.importSettings_finis-btn {
    margin-top: 20px;
}



.import-line {
    margin-bottom: 40px;
    position: relative;
}

.import-line_price-type {
    width: 160px;
    display: inline-block;
    line-height: 30px;
}


.import-line_file-name {
    display: inline-block;
    color: #444;
    margin-left: 30px;
}


.import-line_import-date {
    width: 130px;
    padding-right: 5px;
    display: inline-block;
    text-align: right;
}

.import-line_import-date-label {
    width: 130px;
    display: inline-block;
}

.import-line_price-coef {
    display: inline-block;
    color: #444;
    width: 60px;
}

.import-line_price-coef-label {
    display: inline-block;
    width: 60px;
}


.import-line_loadfile-btn {
    display: inline-block;
    margin-top: -1px;
    width: 120px;
}

.import-line_smirnyaginSheetCount {
    display: inline-block;
    margin-left: 90px;
    width: 40px;
}

.import-line_smirnyaginSheetCount-label {
    display: inline-block;
    width: 240px;
}

.import-line_loading {
    width: 20px;
}

.import-line_start-btn {
    display: none;
    margin-left: 15px;
}

.import-line_blocker {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #efefef;
    opacity: 0.3;
}

.import-status {
    margin:30px 20px;
}

.import-status_wait{
   display: none;
}

.import-status_wait-img {
    width: 20px;
}

.result-types_wrap {

}

.result-types_table {
    border: 1px solid rgb(204, 204, 204);
}

.result-types_head-tr {
    background-color: rgb(217, 237, 247);
    text-transform: uppercase;
    font-size: 16px;
}

.result-types_body-tr:hover{
    background-color: rgb(234, 243, 248) !important;
}

.result-types_td-name {
    width: 200px;
    padding-left: 15px !important;
}

.result-types_td-name__head {
    padding-left: 8px !important;
}

.result-types_td-count {
    width: 70px;
    text-align: center;
}

.result-types_td-show {
    width: 70px;
}

.result-types_show {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.reslut-box {
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.reslut-box_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4A4848;
    opacity: 0.95;
    z-index: 0;
}

.reslut-box_head {
    position: absolute;
    top: 0;
    width: 1170px;
    margin-left: -585px;
    left: 50%;
    z-index: 2;
    height: 30px;
    overflow: hidden;    
}

.result-box_title {
    color: #fff;
    font-weight: normal;
    font-size: 16px;    
}

.result-box_close {
    position: absolute;
    top: 5px;
    right: 0;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.reslut-box_content {
    position: absolute;
    top: 30px;
    width: 1170px;
    margin-left: -585px;
    left: 50%;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 60px;
}

.result-box-table {
    background-color: #fff;
    border: 2px solid #e0cdcd;
    margin-bottom: 100px;
}

.reslut-box_bottom {
    width: 1170px;
    margin-left: -585px;
    left: 50%;
    height: 60px;
    bottom: 0;
    z-index: 2;
    position: absolute;
    padding-top: 10px;
    background-color: #515151;
}

.reslut-box_bottom-ch-all {
    float: right;
    text-decoration: underline;
    color: #eee;
    cursor: pointer;

}

.reslut-box_bottom-unch-all {
    float: right;
    text-decoration: underline;
    color:#eee;
    cursor: pointer;
    margin-right: 10px;
}

.reslut-box_add-label {
    font-weight: bold;
    color: green;
}

.reslut-box_add-label-img {
    width: 18px;
}

.reslut-box_selectProduct {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}


.prices-table thead {
    margin-top: 40px;
    font-weight: bold;
}

.liveSearch {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    width: 1170px;
    left: 50%;
    margin-left: -585px;
    background-color: #fff;
    z-index: 11;
}

.liveSearch-bg {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bbb;
    opacity: 0.7;
    z-index: 9;
}

.liveSearch_close {
    position: absolute;
    top:3px;
    right: 3px;
    width: 15px;
    cursor: pointer;
}

.liveSearch_searchLabel {
  display: block;
  font-weight: bold;
}
 
.liveSearch_searchLabel__chod {
    margin-left: 18px;
}

.liveSearch_searchInp {
  width: 90%;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.liveSearch_searchInp:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.liveSearch_searchClear {
  width: 15px;
  cursor: pointer;
}

.liveSearch_providerInfo {
    padding-right: 70px;
    text-align: left;
}

.liveSearch_providerName {
    font-weight: bold;
}

.liveSearch_providerPrice {
    font-weight: bold;
}

.liveSearch_provName {
    font-weight: bold;
}

.liveSearch_provChod {
    font-weight: bold;
}

.liveSearch_newProduct-btn {
    float: right;
    margin-bottom: 10px;
}

.liveSearch_selectProduct {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.showProductInfoWin {
  width: 20px;
  cursor: pointer;
  float: right;
}

.allproducts-search {
  margin-top: 30px;
  margin-bottom: 20px;
}

.allproducts-table {
  border: 1px solid rgb(204, 204, 204);
}

.allproducts-table thead {
  height: 40px;
}

.price-template {
    position: fixed;
    width: 500px;
    top: 61px;
    left: 50%;
    margin-left: -200px;
    border: 1px solid #e6e6e6;
    z-index: 11;
    background-color: #fcfafa;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228, 228, 228, 0.6);
}

.price-template-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250,0.5);
    z-index: 10;
}

.price-template_title {
    font-weight: bold;
    font-size: 19px;
    color: #333;
    margin-bottom: 15px;
    margin-left: 15px;
}

.price-template_line {
    margin-bottom: 10px;
}

.price-template_label {
    display: inline-block;
    vertical-align: top;
    width: 245px;
    text-align: right;
    margin-right: 5px;
}

.price-template_value {
    display: inline-block;
    vertical-align: top;
    width: 40px;
}

.price-template_value__error {
    border-color: red;
}

.price-template_value__long {
    width: 180px;
}

.price-template_allproviders {
    display: inline-block;
    vertical-align: top;
    width: 150px;
}

.price-template_btns {
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
    line-height: 50px;
}

.price-templatet_saveBtn {
    margin-left: 20px;
    margin-right: 10px;
}

.progress-box {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: #222;
    opacity: 0.8;
}

.progress-box_text {
    margin-top: 22%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.progress-box_finish {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #9fabff;
    margin-top: 31px;
}

.progress-box_finish-text {
    margin-bottom: 20px;
}




