/*
 *
 *Окошко информации о товаре
 */

.bg-productInfoWindow {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12; 
  background-color: #444;
  opacity: 0.8;
}

#productInfoWindow {
    border: 1px solid #888;
    border-radius: 3px;
    /*display: none;*/
    
    position: absolute;
    top:50px;
    left:50%;
    
    margin-left: -425px;
    width: 850px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 13;
}

#productInfoWindow #piw_windowHead {
  width: 100%;
  height: 30px;
  cursor: move;
}

#productInfoWindow #closeProdInfoWindow {
  float:right;
  margin: 0;
  margin-top: 5px;
  margin-right: 5px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.piw_update {
  width: 20px;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  cursor:pointer;
}

.piw_productInfo-wrap {
  margin-bottom: 10px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 0;

}

.piw_productInfo-clm1 {
  width: 420px;
  display: inline-block;
  vertical-align: top;
  border-right: 2px solid #ddd;
  font-size: 14px;
  border-top: 1px solid #ddd;
}

.piw_productInfo-clm2 {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: 14px;
  position: relative;
}



.piw_btns {
  position: absolute;
  bottom: 0;
}

.piw_mainInfo-line {
  border-bottom: 1px solid #ddd;
  line-height: 30px;
}

.piw_mainInfo-labels {
  border-bottom: 1px solid #eee;
  font-size: 0;
  
}

.piw_mainInfo-labels-i {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 14px;
  padding-left: 5px;
}

.piw_mainInfo-labelss-i__border {
  border-right: 1px solid #ddd;
}

.piw_mainInfo-vals {
  font-size: 0;
  
}

.piw_mainInfo-vals-i {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 14px;
  padding-left: 8px;
}

.piw_mainInfo-vals-i__border {
  border-right: 1px solid #ddd;
}

.piw_mainInfo-label {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  padding-left: 5px;
}

.piw_mainInfo-val {
  display: inline-block;
  vertical-align: top;
  padding-left: 7px;
}


.piw_sizeWrap {
  margin-left: 5px;
  margin-top: 8px;
}

.piw_sizeSuf {

}

.piw_stock-table {
  width: 100%;
}

.piw_stock-head {
  line-height: 27px;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
}

.piw_stock-head-tr {

}

.piw_stock-head-td {
  border-right: 1px solid #eee;
  padding-left: 5px;
}

.piw_stock-body {
  line-height: 24px;
  font-size: 12px;
}

.piw_stock-body-tr {
  border-bottom: 1px solid #eee;
}

.piw_stock-body-td {
  padding-left: 5px;
  border-right: 1px solid #eee;
}

.piw_stock-cityname {
  font-weight: bold;
}

.piw_stock-date {
  float: right;
  margin-right: 4px;
}

.piw_stock-cityname:hover {
  cursor: pointer;
  text-decoration: underline;
}

.piw_stock-cityname:after {
  content: url(../images/edit-mini.png);
  margin-left: 3px;
  visibility: hidden;  
}

.piw_stock-cityname:hover::after {
  visibility: visible;
}

.piw_photocomment {

}

.piw_photo {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 150px;
  min-height: 40px;
}

.piw_photo-img {
  width: 150px;
}

.piw_photo-upload {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 17px;  
  cursor: default;
  color: #fff;
  background-color: rgba(42, 41, 41, 0.6);
  display: none;
}

.piw_photo-upload__visible {
  display: block;
}

.piw_photo:hover .piw_photo-upload {
  display: block;
 
}

.piw_photo-upload:hover {
  background-color: rgba(54, 54, 54, 0.8) !important;
}

.piw_photo-delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  background-color: rgba(42, 41, 41, 0.03);
  display: none;
  cursor: default;
  opacity: 0.4;
}

.piw_photo:hover .piw_photo-delete {
  display: block;
 
}

.piw_photo-delete:hover{
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.piw_photo-delete-img {
  width: 10px;
}



.piw_comment-wrap {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.piw_comment-text {
  width: 674px !important;
  height: 150px !important;
  resize:none;
  border-radius: 2px;
  padding-top: 20px;
  overflow-y: scroll;
}

.piw_comment-text__full {
  height: 212px!important;
}

.piw_comment-save {
  position: absolute;
  right: 17px;
  line-height: 16px;
  padding: 1px 10px;
  border-radius: 2px;
  top: 0px;
  opacity: 0.7;
}

.piw_sinonim-wrap {
  margin-top: 10px;
  margin-bottom: 15px;
}

.piw_sinonim-wrap table td {
  border-right: 1px solid #ddd;
}

.piw_sinonimTableHead {
  background-color: #f4fdff;
  font-size: 10px
}

.piw_sinonimTableContent{
  height:150px;
  overflow-y:auto;
}

.piw_deleteSinonim {
  width:15px;
  cursor:pointer;
}

.piw_sinonim-wrap .panel-default {
  margin-bottom: 10px;
}


.piw_provider-wrap {
  margin-top: 10px;
  margin-bottom: 15px;
}

.piw_provider-wrap table td  {
  border-right: 1px solid #ddd;
}

.piw_providerTableHead {
  background-color: #f4fdff;
  font-size: 10px;
}

.piw_providerTableHead .col-xs-4 {
  background: none;
}

.piw_providerTableContent{
  height:150px;
  overflow-y:auto;
}

.piw_provProd_notInPrice {
  background-color: rgb(251, 157, 142) !important;
}

.piw_provProd__original {
  font-weight: bold;
  color: #9E1818;
}

.piw_provProd_notLabel {
  font-size: 11px;
}

.piw_deleteProvider {
  width:15px;
  cursor:pointer;
}

.piw_provider-wrap .panel-default {
  margin-bottom: 10px;
}

.piw_allproviders {
  display: inline-block;
  width: 150px !important;
}

.piw_newProvider-price {
  display: inline-block;
  width: 81px;
}

.piw_newProvider-name {
  display: inline-block;
  width: 165px;
}

.piw_newProvider-chod {
  display: inline-block;
  width: 180px;
}

.piw_newProvider-deliveryTime {
  display: inline-block;
  width: 98px;
}

.piw_provProdHaveComment {
  color: #870505;
  font-size: 18px;
  float: right;
  font-weight: bold;
  cursor: pointer;
}

.piw_provProdHaveComment-img {
  width: 22px;
}

.piw_provProdAddComment {
  float: right;
  cursor: pointer;
}

.piw_provProdAddComment-img {
  width: 22px;
}

.piw_provProdHaveComment:hover {
  text-decoration: underline;
}

.piw_allproducts-search {
  margin-bottom: 10px;
}

.piw_allproducts-searchLabel {
  display: block;
  font-weight: bold;
}

.piw_allproducts-searchInp {
  width: 90%;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.piw_allproducts-searchInp:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.piw_allproducts-searchClear {
  width: 15px;
  cursor: pointer;
}

.piw_allproducts-search-select {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.piw_copy-btn {
  height: 35px;
  width: 37px;
  float: right;
}

.piw_copy-btn-img {
  width: 20px;
  cursor: pointer;
}

.piw_copy-btn__active {
  opacity: 0.3;
}

.piw_hide-btn {
  height: 35px;
  width: 37px;
  float: right;
}

.piw_hide-btn-img {
  width: 20px;
  cursor: pointer;
}

.piw_hide-btn__active {
  opacity: 0.3;
}

.piw_deliveryComment {
  position: absolute;
  background-color: #fefefe;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 610px;
  height: 244px;
  top: 30%;
  left: 191px;
  z-index: 14;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
}

.piw_deliveryComment_close {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 18px;
  cursor: pointer;
}

.piw_deliveryComment_title {
  margin-bottom: 4px;
}

.piw_deliveryComment-text {
  width: 100%;
  height: 152px;
  resize: none;
  padding: 5px;
  margin-bottom: 10px;
}

.piw_stockEdit {
  position: absolute;
  background-color: #fefefe;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 450px;
  top: 36px;
  left: 394px;
  z-index: 14;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
}

.piw_stockEdit-close {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 18px;
  cursor: pointer;
}

.piw_stockEdit-city {
  font-size: 17px;
  font-weight: bold;
}

.piw_stockEdit-line {
  margin-top: 10px;
}

.piw_stockEdit-label {
  display: inline-block;
  vertical-align: top;
}

.piw_stockEdit-inp {
  display: inline-block;
  vertical-align: top;
}

.piw_stockEdit-btns {
  margin-top: 10px;
}

.piw_stockEdit-deleteBtn {
  float: right;
}