<ul ng-if="vm.pager.pages.length>1" class="pagination" ng-if="vm.pager.pages.length">
    <li ng-class="{'pagination_item-out__hide':vm.pager.currentPage === 1}" class="pagination_item-out">
        <a ng-click="vm.setPage(vm.pager.currentPage - 1)" class="pagination_item-out-a">Пердыдущая</a>
    </li>
    <li ng-repeat="page in vm.pager.pages" ng-class="{'pagination_item__active':vm.pager.currentPage === page}" class="pagination_item">
        <a ng-click="vm.setPage(page)" class="pagination_item-a">{{page}}</a>
    </li>
    <li ng-class="{'pagination_item-out__hide':vm.pager.currentPage === vm.pager.totalPages}" class="pagination_item-out">
        <a ng-click="vm.setPage(vm.pager.currentPage + 1)" class="pagination_item-out-a">Следующая</a>
    </li>
</ul>