<div class="gp-editor_inner" ng-show="vm.visible">
	<div class="gp-editor_close" ng-click="vm.close()"></div>
	<div class="gp-editor_product-name">{{vm.product.original_name}} {{vm.product.chod_display}}</div>
	<div class="gp-editor_items js-gp-editor-items">
		<label class="gp-editor_item" ng-repeat="group in vm.groups track by $index" ng-if="::group.id!=null">
			<input type="checkbox" class="gp-editor_item-check" ng-model="group.selected" ng-disabled="group.processing" ng-change="vm.groupSelectedChange($index)">
			<span class="gp-editor_item-name" ng-bind="::group.name"></span>
			<img src="/images/loading.gif" ng-show="group.processing" class="gp-editor_item-process">			
		</label>
	</div>
</div>